* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

#main {
  height: 100%;
  width: 100vh;
  position: relative;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #010104;
  box-shadow: 0px 10px 0px #ff0303;
  z-index: 1;
}

.logo img{
  height: 100px;
  width: 100px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 1em; 
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: whitesmoke;
}

a {
  text-decoration: none;
}

.hi {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 1em;
  border-bottom: 2px solid red;
}

.image {
  height:800px;
  width: 800px;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  width: 90%;
  align-items: center;
  position: absolute;
  justify-content: center;
}

.main-text {
  width: 500px;
}

.main-text h1 {
  text-transform: uppercase;
  font-size:  3.5em;
  color: #1c3548;
  margin: 0px 0px 5px 0px;
  line-height: 60px;
}

.main-text p {

  color: gray;
}

.resume {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(2, 26, 22, 0.2);  
}

.resume:hover {
  background-color: blueviolet;
  transition: all ease 0.2s;
}

.menu li a:hover {
  background-color: blueviolet;
  transition: all ease 0.2s;
}

.hi:hover {
  background-color: blueviolet;
  transition: all ease 0.1s;
}